PROJECT_NAME=REINF API
SECRET_KEY=reinf
SQL_DATABASE_URL= "mongodb+srv://reinf:reinf@eventor-1000.5rfk5.mongodb.net/test?retryWrites=true"
QUEUE_NAME= reinf_publish_queue
ROUTING_KEY= reinf
RABBITMQ_HOST= localhost
RABBITMQ_USER= guest
RABBITMQ_PASSWORD = guest
EXCHANGE_NAME= reinf_publish_exchange